body {
   font-family: 'Nunito Sans', sans-serif;
}

header {
   border-bottom: 1px solid #DEDEDE;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 0;
}

.header-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-basis: 77%;
}

.header-logo {
   display: block;
   background: url(../img/logo.svg) no-repeat top /cover;
   width: 176px;
   height: 56px;
}

.header-nav {
   display: flex;
   list-style: none;
   padding-left: 0;
   padding-right: 98px;
   gap: 46px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
   transition: 0.3s;
}

.header-nav .active::after {
   content: '';
   display: block;
   background: #FFC725;
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
}

.header-nav a:hover {
   color: #FFC725;
   /* перенесла сюда background, чтобы не было скачков при наведении */
}

.button {
   display: flex;
   align-items: center;
   gap: 10px;
   background: transparent;
   border: none;
   padding: 0;
}

.button-item {
   position: relative;
}

.button-count {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 17px;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   bottom: 4px;
   right: -4px;
}

.button-text {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 15px;
   color: #443737;
}

/* <div class="bg"> баннер после header */

.bg {
   background: url(../img/bg.jpg) no-repeat center center /cover;
   color: #FFFFFF;
   text-align: center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 7px;
   padding-left: 0;
   margin-top: 0;
}

.breadcrumbs a {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #DEDEDE;
   text-decoration: none;
}

.breadcrumbs a::before {
   content: '/';
   position: relative;
   left: -4px;
}

.breadcrumbs li:first-child a::before {
   display: none;
}

.bg-title {
   font-weight: 700;
   font-size: 79px;
   margin: 18px 0;
}

.bg-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.6;
   max-width: 320px;
   margin: 0 auto;
}

/* <main><div class="banner"> */

.banner-box {
   background: url(../img/banner-sale.jpg) no-repeat 0 center/ cover;
   padding: 100px 0 120px 100px;
   margin-bottom: 80px;
}

.banner-title {
   color: #fff;
   font-weight: 900;
   font-size: 60px;
   margin: 0;
}

.banner-title span {
   display: block;
   max-width: 96px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   text-transform: uppercase;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 0;
   margin-bottom: 9px;
   text-align: center;
}

.banner-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.5;
   max-width: 353px;
   margin-bottom: 36px;
}

.banner-link {
   font-weight: 700;
   font-size: 14px;
   color: #1E2F40;
   text-decoration: none;
   text-transform: uppercase;
   background: #FBB731;
   border-radius: 5px;
   padding: 18px 24px;
   border: 1px solid #FBB731;
   transition: 0.3s;
}

.banner-link:hover {
   background: transparent;
   color: #FBB731;
}

/* <section class="menu"> */

.menu {
   margin-bottom: 100px;
   padding-top: 20px;
}

.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 34px;
}

.menu-title {
   font-weight: 700;
   font-size: 44px;
   text-transform: uppercase;
   color: #1B2A49;
   margin: 0;
}

.menu-select {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #443737;
   border: 1px solid #DEDEDE;
   border-radius: 22px;
   padding: 13px 30px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   flex-basis: 279px;
   background: url(../img/arrow.svg) no-repeat 89.5% center /12.79px 7.75px;
}

.menu-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px 20px;
   margin-bottom: 100px;
}

.menu-grid-item {
   text-align: center;
}

.menu-grid-cover {
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
}

.menu-grid-cover img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 430px;
}

.menu-grid-title {
   font-weight: 600;
   font-size: 30px;
   color: #1B2A49;
   margin: 27px 0 10px 0;
}

.menu-grid-price {
   font-size: 20px;
   color: #979797;
   margin: 0 0 20px 0;
}

.menu-grid-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 9px;
   margin: 0 auto;
   background: #FBB731;
   border-radius: 5px;
   border: none;
   padding: 10px 32px;
   transition: 0.3s;
}

.menu-grid-btn:hover {
   background: #F37335;
   cursor: pointer;
}

.menu-grid-icon {
   background: url(../img/cart-menu.svg) no-repeat center center / cover;
   width: 18px;
   height: 18px;
}

.menu-grid-buy {
   font-weight: bold;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
}

/* <footer class="footer"> */

.footer {
   background: #1E2F40;
   color: #fff;
   padding: 117px 0 106px 0;
   margin-top: 140px;
}

.footer-box {
   display: flex;
   justify-content: space-between;
}

.footer-logo {
   width: 63px;
   height: 56px;
}

.footer-item {
   flex: 0 0 auto;
}

.footer-item h2 {
   font-size: 20px;
   font-weight: 800;
   text-transform: uppercase;
   margin: 0 0 22px 0;
}

.footer-item ul,
.footer-tel ul {
   list-style-type: none;
}

.footer-list li {
   margin-bottom: 9px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   font-weight: 700;
   line-height: 24px;
}

.footer-list a {
   color: #DEDEDE;
   text-decoration: none;
   font-weight: 400;
   transition: 0.3s;
}

.footer-list a:hover {
   color: #FBB731;
}

.footer-item span {
   color: #DEDEDE;
   display: block;
   font-weight: 400;
   margin-bottom: 2px;
}

.footer-list-tel {
   margin-top: 0;
}

.footer-list-tel li {
   margin-bottom: 12px;
}

.footer-list-tel a {
   font-size: 20px;
   font-weight: 800;
   color: #FBB731;
   transition: 0.3s;
}

.footer-list-tel a:hover {
   color: #DEDEDE;
}

.footer-list {
   padding-left: 0;
}

/* кнопка наверх */

.button-up {
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
   background: #FBB731;
   text-decoration: none;
   padding: 5px 20px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius: 5px;
   transition: 1s;
}

.button-up:hover {
   background: #F37335;
}

.button-up.hidden {
   opacity: 0;
}

.button-up.visible {
   opacity: 0.5;
}

/* style index.html */

html,
body {
   overflow-x: hidden;
}

.main {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
   position: relative;
}

.wrapper {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 0 15px;
}

.content {
   flex: 0 0 580px;
   padding: 170px 0;
}

.content-title {
   color: #FAF9F9;
   font-weight: 800;
   font-size: 120px;
   line-height: 1.5;
   text-transform: uppercase;
   margin: 0;
}

.content-title span {
   font-weight: 700;
   font-size: 30px;
   line-height: 38px;
   color: #FBB731;
   display: block;
   margin-bottom: 10px;
}

.content-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 19px;
   line-height: 1.4;
   color: #DEDEDE;
   margin: 40px 0 42px 0;
}

.buy {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: bold;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   color: #1E2F40;
   background: #FBB731;
   border-radius: 5px;
   text-decoration: none;
   padding: 20px 45px;
   display: inline-block;
   border: 1px solid #FBB731;
   transition: 0.3s;
}

.buy:hover {
   background: transparent;
   color: #FBB731;
}


.burger-visual {
   /* flex-grow: 1; */
   display: flex;
   justify-content: flex-end;
   position: absolute;
   max-width: 790px;
   width: 100%;
   height: 100%;
   top: 0;
   right: 10%
      /* z-index: -1; */
}

.burger-bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.img-burger {
   width: 829px;
   max-height: 100%;
   position: absolute;
   right: -169px;
}

/* <section class="buy-burger"> */

.buy-burger {
   margin-top: 185px;
}


.promo,
.order {
   flex: 0 0 49%;
   box-sizing: border-box;
}

.promo {
   background: url(../img/fon-left.png) no-repeat center /cover;
   font-weight: 900;
   padding: 116px 40px;
}

.discount,
.text-discount,
.free {
   margin: 0;
}

.discount {
   font-size: 14px;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 18px;
   text-transform: uppercase;
   display: inline-block;
   color: #fff;
}

.sale {
   font-size: 60px;
   font-weight: 900;
   color: #fff;
   margin: 3px 0 8px 0;
}

.text-discount {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 24px;
}

.order {
   background: url(../img/fon-right.png) no-repeat center /cover;
   padding: 102px 50px;
}

.free {
   font-size: 44px;
   font-weight: 700;
   color: #fff;
}

.promo .text-discount {
   max-width: 392px;
}

.order .text-discount {
   max-width: 306px;
   padding: 10px 0 20px 0;
}

/* Модальное окно <button class="burger" onclick="openModal()">*/

.burger {
   background: url(../img/menu-burger.svg) no-repeat center /contain;
   width: 34px;
   height: 22px;
   border: none;
   cursor: pointer;
}

.header {
   gap: 21px;
}

#modal {
   max-width: 500px;
   background: #FFF8DC;
   text-align: center;
   position: absolute;
   top: -400px;
   left: 0;
   right: 0;
   margin: 20px auto 0;
   padding: 36px 30px;
   transition: 0.3s;
   box-sizing: border-box;
}

#modal .header-nav {
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   padding-right: 0;
}

.burger-close {
   background: url(../img/close-burger.svg) no-repeat center / contain;
   width: 22px;
   height: 22px;
   border: none;
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   transition: 0.3s;
}


/* Responsive */


@media (min-width: 981px) {
   .footer-list+.footer-list-tel {
      display: none;
   }
}

@media (min-width: 761px) {
   .header-burger {
      display: none;
   }
}

@media (max-width: 1450px) {
   .burger-visual {
      right: 0;
   }
}

@media (max-width: 1179px) {
   .burger-bg {
      width: 400px;
   }

   .img-burger {
      width: 770px;
   }
}

@media (max-width: 1122px) {
   .burger-bg {
      width: 370px;
   }

   .img-burger {
      width: 715px;
   }
}

@media (max-width: 1057px) {
   .burger-bg {
      width: 340px;
   }

   .img-burger {
      width: 640px;
   }
}

@media (max-width: 980px) {
   .burger-bg {
      width: 310px;
   }

   .img-burger {
      width: 600px;
      right: -95px;
      top: 18px;
   }

   .content-title {
      font-size: 80px;
   }

   .content-text {
      font-size: 16px;
   }

   .container {
      max-width: 738px;
   }



   .header-logo {
      width: 150px;
      height: 48px;
      background-size: contain;
   }

   .header-nav {
      gap: 22px;
   }

   .header-item {
      flex-basis: 88%;
   }

   .bg {
      margin-bottom: 72px;
   }

   .banner-box {
      padding-left: 40px;
      background-position: -83px center;
   }

   .menu-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 15px;
      margin-bottom: 89px;
   }

   /* Дополнительно <section class="menu menu-other"> */

   .menu-other .menu-grid-cover,
   .menu-other .menu-grid-cover img {
      height: 320px;
   }

   .menu-other {
      overflow: hidden;
      height: 560px;
   }

   .menu-other .menu-grid {
      display: flex;
      width: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 50px;
   }

   .menu-other .menu-grid-item {
      flex: 0 0 281px;
   }


   .footer-box {
      display: grid;
      grid-template-areas: 'a d'
         'b c';
      gap: 25px;
   }

   .footer-item:nth-child(1) {
      grid-area: a;
   }

   .footer-item:nth-child(2) {
      grid-area: b;
   }

   .footer-item:nth-child(3) {
      grid-area: c;
   }

   .footer-item:nth-child(4) {
      grid-area: d;
   }

}

@media (max-width: 850px) {
   .wrapper {
      justify-content: center;
   }

   .content {
      padding: 100px 0;
      text-align: center;
   }

   .burger-visual {
      display: none;
   }

   .buy-burger {
      margin-top: 100px;
   }

   .wrapper-sale {
      flex-direction: column;
      gap: 20px;
   }
}

@media (max-width: 760px) {


   nav {
      display: none;
   }

   .menu-other .container {
      padding-right: 0;
   }
}

@media (max-width: 667px) {

   .menu-grid-cover,
   .menu-grid-cover img {
      height: 320px;
   }

   .footer {
      padding: 60px 0 65px 0;
   }

}

@media (max-width: 567px) {
   .content {
      flex: 0 0 350px;
      padding: 75px 0;
   }

   .content-title {
      font-size: 60px;
   }

   .content-title span {
      font-size: 23px;
   }

   .buy-burger {
      margin-bottom: 100px;
   }

   .breadcrumbs a {
      font-size: 14px;
   }

   .bg-title {
      font-size: 38px;
   }

   .bg-text {
      font-size: 12px;
   }

   .bg {
      margin-bottom: 33px;
      padding: 55px 0;
   }

   .banner-box {
      background-position: 17% center;
      padding: 35px 0 55px 24px;
      margin-bottom: 53px;
   }

   .banner-text {
      max-width: 300px;
   }

   .menu-header {
      margin-bottom: 31px;
   }

   .menu-title {
      font-size: 27px;
   }

   .menu-select {
      font-size: 12px;
      padding: 15px;
      flex-basis: 136px;
   }

   .menu {
      margin-bottom: 61px;
      padding-top: 0;
   }

   .menu-grid {
      margin-bottom: 21px;
      gap: 24px 12px;
   }

   .menu-other {
      height: 395px;
   }

   .menu-other .menu-grid-item {
      flex: 0 0 200px;
   }

   .menu-grid-cover {
      height: 180px;
   }

   .menu-grid-cover,
   .menu-grid-cover img,
   .menu-other .menu-grid-cover,
   .menu-other .menu-grid-cover img {
      height: 180px;
   }

   .menu-grid-title {
      font-size: 25px;
      margin: 10px 0;
   }

   .footer {
      margin-top: 0;
   }

   .footer-box {
      display: grid;
      grid-template-areas: 'a d'
         'b b'
         'c c';
      gap: 30px;
   }

   .footer-item h2 {
      font-size: 18px;
   }

   .footer-list-tel li {
      text-align: right;
   }
}

@media (max-width: 479px) {

   .promo,
   .order {
      padding: 95px 30px;
      background-position: 0 center;
   }

   .menu-grid-title {
      font-size: 13px;
   }

   .menu-grid-price {
      font-size: 16px;
   }

   .buy-burger {
      margin: 50px 0;
   }
}

@media (max-width: 400px) {
   .content {
      flex: 0 0 280px;
      padding: 50px 0;
   }

   .content-title {
      font-size: 40px;
   }

   .content-title span {
      font-size: 16px;
   }

   .content-text {
      font-size: 14px;
      margin: 30px 0;
   }
}

@media (max-width: 359px) {
   .header-logo {
      width: 116px;
      height: 37px;
   }

   .header {
      padding: 19px 0;
   }

   .menu-grid {
      grid-template-columns: repeat(1, 1fr);
   }


   .menu-grid-title {
      font-size: 25px;
   }


   .footer-list-tel a {
      font-size: 18px;
   }
}

@media (max-width: 320px) {
   .banner-box {
      background-position: 25% center;
   }
}