body {
   font-family: 'Nunito Sans', sans-serif;
   /* font-family: 'Open Sans', sans-serif;
   font-family: 'Lato', sans-serif; */
}

header {
   border-bottom: 1px solid #DEDEDE;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 0;
}

.header-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-basis: 77%;
}

.header-logo {
   display: block;
   background: url(../img/logo.svg) no-repeat top /cover;
   width: 176px;
   height: 56px;
}

.header-nav {
   display: flex;
   list-style: none;
   padding-left: 0;
   padding-right: 98px;
   gap: 46px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
   transition: 0.3s;
}

.header-nav .active::after {
   content: '';
   display: block;
   background: #FFC725;
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
}

.header-nav a:hover {
   color: #FFC725;
   /* перенесла сюда background, чтобы не было скачков при наведении */
}

.button {
   display: flex;
   align-items: center;
   gap: 10px;
   background: transparent;
   border: none;
   padding: 0;
}

.button-item {
   position: relative;
}

.button-count {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 17px;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   bottom: 4px;
   right: -4px;
}

.button-text {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 15px;
   color: #443737;
}

/* <div class="bg"> баннер после header */

.bg {
   background: url(../img/bg.jpg) no-repeat center center /cover;
   color: #FFFFFF;
   text-align: center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 7px;
   padding-left: 0;
   margin-top: 0;
}

.breadcrumbs a {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #DEDEDE;
   text-decoration: none;
}

.breadcrumbs a::before {
   content: '/';
   position: relative;
   left: -4px;
}

.breadcrumbs li:first-child a::before {
   display: none;
}

.bg-title {
   font-weight: 700;
   font-size: 79px;
   margin: 18px 0;
}

.bg-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.6;
   max-width: 320px;
   margin: 0 auto;
}

/* <main><div class="banner"> */

.banner-box {
   background: url(../img/banner-sale.jpg) no-repeat center center/ cover;
   padding: 100px 0 120px 100px;
   margin-bottom: 80px;
}

.banner-title {
   color: #fff;
   font-weight: 900;
   font-size: 60px;
   margin: 0;
}

.banner-title span {
   display: block;
   max-width: 96px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   text-transform: uppercase;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 0;
   margin-bottom: 9px;
   text-align: center;
}

.banner-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.5;
   max-width: 353px;
   margin-bottom: 36px;
}

.banner-link {
   font-weight: 700;
   font-size: 14px;
   color: #1E2F40;
   text-decoration: none;
   text-transform: uppercase;
   background: #FBB731;
   border-radius: 5px;
   padding: 18px 24px;
   border: 1px solid #FBB731;
   transition: 0.3s;
}

.banner-link:hover {
   background: transparent;
   color: #FBB731;
}

/* <section class="menu"> */

.menu {
   margin-bottom: 100px;
   padding-top: 20px;
}

.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 34px;
}

.menu-title {
   font-weight: 700;
   font-size: 44px;
   text-transform: uppercase;
   color: #1B2A49;
   margin: 0;
}

.menu-select {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #443737;
   border: 1px solid #DEDEDE;
   border-radius: 22px;
   padding: 13px 30px;
   appearance: none;
   flex-basis: 279px;
   background: url(../img/arrow.svg) no-repeat 89.5% center /12.79px 7.75px;
}

.menu-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px 20px;
   margin-bottom: 100px;
}

.menu-grid-item {
   text-align: center;
}

.menu-grid-cover {
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
}

.menu-grid-cover img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
   width: 100%;
   height: 430px;
}

.menu-grid-title {
   font-weight: 600;
   font-size: 30px;
   color: #1B2A49;
   margin: 27px 0 10px 0;
}

.menu-grid-price {
   font-size: 20px;
   color: #979797;
   margin: 0 0 20px 0;
}

.menu-grid-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 9px;
   margin: 0 auto;
   background: #FBB731;
   border-radius: 5px;
   border: none;
   padding: 10px 32px;
   transition: 0.3s;
}

.menu-grid-btn:hover {
   background: #F37335;
   cursor: pointer;
}

.menu-grid-icon {
   background: url(../img/cart-menu.svg) no-repeat center center / cover;
   width: 18px;
   height: 18px;
}

.menu-grid-buy {
   font-weight: bold;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
}

/* <footer class="footer"> */

.footer {
   background: #1E2F40;
   color: #fff;
   padding: 117px 0 106px 0;
   margin-top: 140px;
}

.footer-box {
   display: flex;
   justify-content: space-between;
}

.footer-logo {
   width: 63px;
   height: 56px;
}

.footer-item {
   flex: 0 0 auto;
}

.footer-item h2 {
   font-size: 20px;
   font-weight: 800;
   text-transform: uppercase;
   margin: 0 0 22px 0;
}

.footer-item ul,
.footer-tel ul {
   list-style-type: none;
}

.footer-list li {
   margin-bottom: 9px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   font-weight: 700;
   line-height: 24px;
}

.footer-list a {
   color: #DEDEDE;
   text-decoration: none;
   font-weight: 400;
   transition: 0.3s;
}

.footer-list a:hover {
   color: #FBB731;
}

.footer-item span {
   color: #DEDEDE;
   display: block;
   font-weight: 400;
   margin-bottom: 2px;
}

.footer-list-tel {
   margin-top: 0;
}

.footer-list-tel li {
   margin-bottom: 12px;
}

.footer-list-tel a {
   font-size: 20px;
   font-weight: 800;
   color: #FBB731;
   transition: 0.3s;
}

.footer-list-tel a:hover {
   color: #DEDEDE;
}

.footer-list {
   padding-left: 0;
}

/* кнопка наверх */

.button-up {
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
   background: #FBB731;
   text-decoration: none;
   padding: 5px 20px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius: 5px;
   transition: 1s;
}

.button-up:hover {
   background: #F37335;
}

.button-up.hidden {
   opacity: 0;
}

.button-up.visible {
   opacity: 0.5;
}

/* style index */

html,
body {
   overflow-x: hidden;
}

.main {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.wrapper {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.content {
   flex: 0 0 580px;
   padding: 170px 0 170px 0;
}

.content-title {
   color: #FAF9F9;
   font-weight: 800;
   font-size: 120px;
   line-height: 140px;
   text-transform: uppercase;
   margin: 0;
}

.content-title span {
   font-weight: 700;
   font-size: 30px;
   line-height: 38px;
   color: #FBB731;
   display: block;
   margin-bottom: 10px;
}

.content-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 19px;
   line-height: 1.4;
   color: #DEDEDE;
   margin: 40px 0 42px 0;
}

.buy {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: bold;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   color: #1E2F40;
   background: #FBB731;
   border-radius: 5px;
   text-decoration: none;
   padding: 20px 45px;
   display: inline-block;
   border: 1px solid #FBB731;
   transition: 0.3s;
}

.buy:hover {
   background: transparent;
   color: #FBB731;
}


.burger {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   position: relative;

}

.burger-bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.img-burger {
   width: 829px;
   position: absolute;
   right: -169px;
}

/* <section class="buy-burger"> */

.buy-burger {
   padding-top: 186px;
   padding-bottom: 45px;
}

.promo,
.order {
   flex: 0 0 49%;
   box-sizing: border-box;
}

.promo {
   background: url(../img/fon-left.png) no-repeat center /cover;
   font-weight: 900;
   padding: 116px 40px;
}

.discount,
.text-discount,
.free {
   margin: 0;
}

.discount {
   font-size: 14px;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 18px;
   text-transform: uppercase;
   display: inline-block;
   color: #fff;
}

.sale {
   font-size: 60px;
   font-weight: 900;
   color: #fff;
   margin: 3px 0 8px 0;
}

.text-discount {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 24px;
   /* padding-bottom: 20px; */
}

.order {
   background: url(../img/fon-right.png) no-repeat center /cover;
   padding: 102px 50px;
}

.free {
   font-size: 44px;
   font-weight: 700;
   color: #fff;
}

.promo .text-discount {
   max-width: 392px;
}

.order .text-discount {
   max-width: 300px;
   padding: 10px 0 20px 0;
}