body {
   font-family: 'Nunito Sans', sans-serif;
   /* font-family: 'Open Sans', sans-serif;
   font-family: 'Lato', sans-serif; */
}

header {
   border-bottom: 1px solid #DEDEDE;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 0;
}

.header-logo {
   display: block;
   background: url(../img/logo.svg) no-repeat top /cover;
   width: 176px;
   height: 56px;
}

.header-nav {
   display: flex;
   list-style: none;
   padding-left: 0;
   padding-right: 98px;
   gap: 46px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
}

.header-nav .active::after {
   content: '';
   display: block;
   background: #FFC725;
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
}

.header-nav a:hover {
   color: #FFC725;
   /* перенесла сюда background, чтобы не было скачков при наведении */
}

.button {
   display: flex;
   align-items: center;
   gap: 10px;
   background: transparent;
   border: none;
   padding: 0;
}

.button-item {
   position: relative;
}

.button-count {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 17px;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   bottom: 4px;
   right: -4px;
}

.button-text {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 15px;
   color: #443737;
}

/* <div class="bg"> баннер после header */

.bg {
   background: url(../img/bg.jpg) no-repeat center center /cover;
   color: #FFFFFF;
   text-align: center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 7px;
   padding-left: 0;
   margin-top: 0;
}

.breadcrumbs a {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #DEDEDE;
   text-decoration: none;
}

.breadcrumbs a::before {
   content: '/';
   position: relative;
   left: -4px;
}

.breadcrumbs li:first-child a::before {
   display: none;
}

.bg-title {
   font-weight: 700;
   font-size: 79px;
   margin: 18px 0;
}

.bg-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.6;
   max-width: 320px;
   margin: 0 auto;
}

/* <main><div class="banner"> */

.banner-box {
   background: url(../img/banner-sale.jpg) no-repeat center top/ cover;
   padding: 64px 0 120px 100px;
   margin-bottom: 103px;
}

.banner-title {
   color: #fff;
   font-weight: 900;
   font-size: 60px;
   margin: 0;
}

.banner-title span {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   text-transform: uppercase;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 19px 5px 18px;
}

.banner-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   line-height: 1.5;
   max-width: 353px;
   margin-bottom: 37px;
}

.banner-link {
   font-weight: 700;
   font-size: 14px;
   color: #1E2F40;
   text-decoration: none;
   text-transform: uppercase;
   background: #FBB731;
   border-radius: 5px;
   padding: 20px 25px;
}

/* <section class="menu"> */

.menu {
   margin-bottom: 100px;
}

.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 34px;
}

.menu-title {
   font-weight: 700;
   font-size: 44px;
   text-transform: uppercase;
   color: #1B2A49;
   margin: 0;
}

.menu-select {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #443737;
   border: 1px solid #DEDEDE;
   border-radius: 22px;
   padding: 13px 30px;
   appearance: none;
   flex-basis: 279px;
   background: url(../img/arrow.svg) no-repeat 89.5% center /12.79px 7.75px;
}

.menu-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 50px;
   column-gap: 20px
}

.menu-grid-item {
   text-align: center;
}

.menu-grid-cover {
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
}

.menu-grid-cover img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
   width: 100%;
   height: 430px;
}

.menu-grid-title {
   font-weight: 600;
   font-size: 30px;
   color: #1B2A49;
   margin: 27px 0 10px 0;
}

.menu-grid-price {
   font-size: 20px;
   color: #979797;
   margin: 0 0 20px 0;
}

.menu-grid-btn {
   display: flex;
   align-items: center;
   gap: 12px;
   margin: 0 auto;
   background: #FBB731;
   border-radius: 5px;
   border: none;
   padding: 10px 32px;
   /* margin-bottom: 30px; */
}

.menu-grid-icon {
   background: url(../img/cart-menu.svg) no-repeat center center / cover;
   width: 18px;
   height: 18px;
}

.menu-grid-buy {
   font-weight: bold;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
}